.keyboard-container{
    height: 100vh;
}

.keyboard-button{
    min-width: 40px;
    height: 40px;
    margin: 5px;
    transition: all 0.3s ease;
}

.btn-normal {
    width: 50px;
    height: 50px;
    transition: all 0.1s ease;
}

.btn-pressed {
    font-size: 6rem;
    padding: 10px 30px;
    transition: all 0.1s ease;
}

#Tab, #Enter{
    min-width: 77px;
}

#Shift-Der  {
    min-width: 120px;
}

#Space {
    min-width: 335px;
}

.pressed {
    background-color: red; /* Color de fondo para botones presionados */
    color: white; /* Color de texto para botones presionados */
    transition: all 0.3s ease;
  }

