@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #cecece;
  width: 100%;
  text-align: center;
}
